.layout-root {
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg-primary);
}

.layout-sidebar {
  width: 260px;
  background-color: var(--color-bg-sidebar);
  color: var(--color-text-white);
  display: flex;
  flex-direction: column;
}

.layout-logo-container {
  padding: 25.5px 18px;
  background-color: var(--color-sidebar-hover);
}

.layout-logo {
  display: block;
  width: 100px;
  height: 19px;
  background-color: var(--color-sidebar-hover);
}

.layout-nav-link {
  position: relative;
  font-size: 15px;
  padding: 25px 18px;
  padding-left: 23px;
  transition: background-color var(--time-function);
  color: var(--color-text-white);
  background-color: var(--color-bg-sidebar);
}

.layout-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: transparent;
  transition: background-color var(--time-function);
}

.layout-nav-link:hover::before,
.layout-nav-link.active::before {
  background-color: #a3a0fb;
}

.layout-nav-link:hover,
.layout-nav-link.active {
  background-color: var(--color-sidebar-hover);
}

.layout-main {
  flex: 1;
  background-color: var(--color-bg-secondary);
  height: 100vh;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 32px 75px;
}

.layout-icon-btn {
  padding: 4px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}
