.calendar-wrapper {
  padding: 19px 20px 35px 20px;
  max-width: 1170px;
  margin: auto;
  background-color: var(--color-bg-white);
  box-shadow: 0px 2px 6px #0000000a;
}

.calendar-header {
  margin-bottom: 15px;
}

.calendar-title-container {
  margin-bottom: 24px;
}

.calendar-controls {
  display: flex;
  box-shadow: 0px 2px 3px #0000000d;
  border: 1px solid var(--color-buttons-border);
  border-radius: 4px;
  overflow: hidden;
}

.calendar-controls button {
  padding: 8px 16px;
  background-color: var(--color-bg-white);
  font-size: 13px;
  cursor: pointer;
  color: var(--color-text-primary);
  border: none;
  border-radius: 0;
}

.calendar-controls button + button {
  border-left: 1px solid var(--color-buttons-border);
}

.calendar-controls button:hover {
  color: var(--color-accent);
}

.active {
  color: var(--color-accent) !important;
}

.calendar-text {
  font-size: 18px;
  color: var(--color-text-primary);
}

.modal {
  background-color: var(--color-bg-white);
  padding: 22px 26px;
  width: 201px;
  margin: auto;
  box-shadow: 0px 3px 18px #00000029;
  border: 1px solid var(--color-bg-sidebar);
  border-radius: 10px;
  z-index: 2;
  outline: none;
}

.modal::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 9px solid var(--color-bg-sidebar);
  z-index: 1;
}

.button-close {
  border: none;
  border-radius: 50%;
  background-color: var(--color-bg-white);
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 7px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.input {
  display: block;
  margin-bottom: 20.5px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--color-input-label);
  outline: none;
}

input[type="date"].input {
  background: url("data:image/svg+xml,%3Csvg fill='%23D6D6D6' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11zm0-13H5V6h14v1z'/%3E%3C/svg%3E")
    no-repeat right 5px center;
  background-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
}

input[type="time"].input {
  background: url("data:image/svg+xml,%3Csvg fill='%23D6D6D6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M12 1a11 11 0 1 0 11 11A11.013 11.013 0 0 0 12 1zm0 20a9 9 0 1 1 9-9a9.01 9.01 0 0 1-9 9zm.5-14h-1v6l5.25 3.15l.5-.85l-4.75-2.8z'/%3E%3C/svg%3E")
    no-repeat right 5px center;
  background-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.calendar-input-label {
  font-size: 9px;
  color: var(--color-input-label);
}

.modal-actions {
  margin-top: 37.5px;
}

.button {
  background-color: var(--color-bg-white);
  border: none;
  cursor: pointer;
}

.button-left {
  color: var(--color-button-cancel);
}

.button-right {
  color: var(--color-text-primary);
}

.month-cell {
  height: 135px !important;
}

.calendar-error {
  font-size: 13px;
  color: red;
}
